/* Write your code here. */
.win-or-lose-bg-container {
  display: flex;
  background-color: #ffffff33;
  padding: 20px;
  border-radius: 15px;
}
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-button {
  background-color: blue;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
