/* Write your code here. */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #9796f0;
  color: white;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.scores-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.score {
  margin-right: 10px;
}
